[ActionPlugins][0]
MiddleButton;NoModifier=org.kde.paste
RightButton;NoModifier=org.kde.contextmenu

[ActionPlugins][1]
RightButton;NoModifier=org.kde.contextmenu

[Containments][244]
ItemGeometries-1969x1108=
ItemGeometriesHorizontal=
activityId=
formfactor=0
immutability=1
lastScreen=0
location=0
plugin=org.kde.plasma.folder
wallpaperplugin=org.kde.image

[Containments][244][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][244][General]
positions={"1969x1108":["1","18"]}
sortMode=-1

[Containments][244][Wallpaper][org.kde.image][General]

[Containments][245]
activityId=
formfactor=2
immutability=1
lastScreen=0
location=3
plugin=org.kde.panel
wallpaperplugin=org.kde.image

[Containments][245][Applets][246]
immutability=1
plugin=org.kde.plasma.kickoff

[Containments][245][Applets][246][Configuration]
PreloadWeight=100
popupHeight=506
popupWidth=645

[Containments][245][Applets][246][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][245][Applets][246][Configuration][General]
applicationsDisplay=0
favoritesPortedToKAstats=true
icon=computer
systemFavorites=suspend\\,hibernate\\,reboot\\,shutdown

[Containments][245][Applets][246][Configuration][Shortcuts]
global=Alt+F1

[Containments][245][Applets][247]
immutability=1
plugin=org.kde.plasma.appmenu

[Containments][245][Applets][247][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=796

[Containments][245][Applets][247][Configuration][General]
containmentType=Plasma
lengthFirstMargin=6
lengthLastMargin=4
lengthMarginsLock=false
showIcon=false

[Containments][245][Applets][248]
immutability=1
plugin=org.kde.plasma.panelspacer

[Containments][245][Applets][249]
immutability=1
plugin=org.kde.plasma.digitalclock

[Containments][245][Applets][249][Configuration]
PreloadWeight=100
popupHeight=452
popupWidth=810

[Containments][245][Applets][249][Configuration][Appearance]
customSpacing=1.7171717171717171
fixedFont=true
fontFamily=Sans Serif
fontSize=15
use24hFormat=0

[Containments][245][Applets][249][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][245][Applets][250]
immutability=1
plugin=org.kde.plasma.panelspacer

[Containments][245][Applets][251]
immutability=1
plugin=org.kde.plasma.marginsseparator

[Containments][245][Applets][251][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][245][Applets][252]
immutability=1
plugin=org.kde.plasma.systemtray

[Containments][245][Applets][252][Configuration]
PreloadWeight=100
SystrayContainmentId=253

[Containments][245][Applets][278]
immutability=1
plugin=luisbocanegra.audio.visualizer

[Containments][245][Applets][278][Configuration]
PreloadWeight=65
popupHeight=450
popupWidth=450

[Containments][245][Applets][278][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][245][Applets][278][Configuration][General]
barColors={"enabled":false,"lightness":0.5,"saturation":0.5,"alpha":1,"systemColor":"highlightColor","systemColorSet":"Window","custom":"#013eff","list":["#ED8796","#A6DA95","#EED49F","#8AADF4","#F5BDE6","#8BD5CA","#f5a97f"],"reverseList":false,"followColor":0,"saturationEnabled":false,"lightnessEnabled":false,"sourceType":7,"smoothGradient":true,"colorsOrientation":0,"image":{"source":"","fillMode":2},"hueStart":0,"hueEnd":360}
inactiveBlockColors={"enabled":false,"lightness":0.5,"saturation":0.5,"alpha":0.3,"systemColor":"textColor","systemColorSet":"Window","custom":"#013eff","list":["#ED8796","#A6DA95","#EED49F","#8AADF4","#F5BDE6","#8BD5CA","#f5a97f"],"reverseList":false,"followColor":0,"saturationEnabled":false,"lightnessEnabled":false,"sourceType":1,"smoothGradient":true,"colorsOrientation":0,"image":{"source":"","fillMode":2},"hueStart":0,"hueEnd":360}
visualizerStyle=0
waveFillColors={"enabled":false,"lightness":0.5,"saturation":0.5,"alpha":0.3,"systemColor":"highlightColor","systemColorSet":"Window","custom":"#013eff","list":["#ED8796","#A6DA95","#EED49F","#8AADF4","#F5BDE6","#8BD5CA","#f5a97f"],"reverseList":false,"followColor":0,"saturationEnabled":false,"lightnessEnabled":false,"sourceType":7,"smoothGradient":true,"colorsOrientation":0,"image":{"source":"","fillMode":2},"hueStart":0,"hueEnd":360}

[Containments][245][Applets][279]
immutability=1
plugin=org.kde.plasma.mediacontroller.panel

[Containments][245][Applets][279][Configuration]
PreloadWeight=75
popupHeight=360
popupWidth=360

[Containments][245][Applets][280]
immutability=1
plugin=org.kde.plasma.mediacontroller

[Containments][245][Applets][280][Configuration]
PreloadWeight=90
popupHeight=360
popupWidth=360

[Containments][245][Applets][284]
immutability=1
plugin=org.kde.plasma.plasm6desktopindicator

[Containments][245][ConfigDialog]
DialogHeight=78
DialogWidth=1920

[Containments][245][General]
AppletOrder=246;247;284;248;280;279;278;250;252;249;251

[Containments][253]
activityId=
formfactor=2
immutability=1
lastScreen=0
location=3
plugin=org.kde.plasma.private.systemtray
popupHeight=434
popupWidth=432
wallpaperplugin=org.kde.image

[Containments][253][Applets][254]
immutability=1
plugin=org.kde.kdeconnect

[Containments][253][Applets][254][Configuration]
PreloadWeight=60

[Containments][253][Applets][255]
immutability=1
plugin=org.kde.plasma.keyboardlayout

[Containments][253][Applets][256]
immutability=1
plugin=org.kde.plasma.clipboard

[Containments][253][Applets][256][Configuration]
PreloadWeight=60

[Containments][253][Applets][257]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][253][Applets][257][Configuration]
PreloadWeight=60

[Containments][253][Applets][258]
immutability=1
plugin=org.kde.plasma.manage-inputmethod

[Containments][253][Applets][259]
immutability=1
plugin=org.kde.plasma.cameraindicator

[Containments][253][Applets][260]
immutability=1
plugin=org.kde.kscreen

[Containments][253][Applets][261]
immutability=1
plugin=org.kde.plasma.keyboardindicator

[Containments][253][Applets][262]
immutability=1
plugin=org.kde.plasma.volume

[Containments][253][Applets][262][Configuration]
PreloadWeight=100

[Containments][253][Applets][262][Configuration][General]
migrated=true

[Containments][253][Applets][263]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][253][Applets][264]
immutability=1
plugin=org.kde.plasma.vault

[Containments][253][Applets][267]
immutability=1
plugin=org.kde.plasma.brightness

[Containments][253][Applets][267][Configuration]
PreloadWeight=0

[Containments][253][Applets][268]
immutability=1
plugin=org.kde.plasma.battery

[Containments][253][Applets][268][Configuration]
PreloadWeight=0

[Containments][253][Applets][269]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][253][Applets][269][Configuration]
PreloadWeight=75

[Containments][253][Applets][270]
immutability=1
plugin=org.kde.plasma.bluetooth

[Containments][253][Applets][270][Configuration]
PreloadWeight=57

[Containments][253][Applets][271]
immutability=1
plugin=org.kde.plasma.mediacontroller

[Containments][253][Applets][271][Configuration]
PreloadWeight=66

[Containments][253][Applets][281]
immutability=1
plugin=org.kde.plasma.weather

[Containments][253][Applets][282]
immutability=1
plugin=org.kde.plasma.diskquota

[Containments][253][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][253][General]
extraItems=org.kde.kdeconnect,org.kde.plasma.networkmanagement,org.kde.plasma.battery,org.kde.plasma.keyboardlayout,org.kde.plasma.clipboard,org.kde.plasma.brightness,org.kde.plasma.mediacontroller,org.kde.plasma.notifications,org.kde.plasma.bluetooth,org.kde.plasma.manage-inputmethod,org.kde.plasma.cameraindicator,org.kde.kscreen,org.kde.kupapplet,org.kde.plasma.keyboardindicator,org.kde.plasma.volume,org.kde.plasma.devicenotifier,org.kde.plasma.vault,org.kde.plasma.weather,org.kde.plasma.diskquota
knownItems=org.kde.kdeconnect,org.kde.plasma.networkmanagement,org.kde.plasma.battery,org.kde.plasma.keyboardlayout,org.kde.plasma.clipboard,org.kde.plasma.brightness,org.kde.plasma.mediacontroller,org.kde.plasma.notifications,org.kde.plasma.bluetooth,org.kde.plasma.manage-inputmethod,org.kde.plasma.cameraindicator,org.kde.kscreen,org.kde.kupapplet,org.kde.plasma.keyboardindicator,org.kde.plasma.volume,org.kde.plasma.devicenotifier,org.kde.plasma.vault
shownItems=org.kde.plasma.manage-inputmethod

[Containments][265]
activityId=
formfactor=2
immutability=1
lastScreen=0
location=4
plugin=org.kde.panel
wallpaperplugin=org.kde.image

[Containments][265][Applets][266]
immutability=1
plugin=org.kde.plasma.icontasks

[Containments][265][Applets][266][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][265][Applets][266][Configuration][General]
launchers=applications:org.kde.dolphin.desktop,applications:org.kde.konsole.desktop

[Containments][265][ConfigDialog]
DialogHeight=78
DialogWidth=1920

[Containments][265][General]
AppletOrder=266

[ScreenMapping]
itemsOnDisabledScreens=
screenMapping=
